{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}
{% block content %}

<!-- Todo 카드들이 렌더링될 컨테이너 -->
<div class="list_container"></div>

<!-- 페이지네이션 UI -->
<div class="pagination">
    <button id="prevBtn">이전</button>
    <span id="pageInfo"></span>
    <button id="nextBtn">다음</button>
</div>

<!-- 페이지 크기 선택 -->
<input id="pageSizeInput" type="number" min="1" max="20" value="3" />
<button id="pageSizeBtn">적용</button>

<!-- Todo 생성 페이지로 이동 버튼 -->
<button id="createBtn">Todo 등록하기</button>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/todo_list.js' %}"></script>
{% endblock %}