{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h2>새로 할 일을 만들어보세요</h2>
    <div>
      <label for="name">해야할 일:</label>
      <input type="text" name="title" id="title">
    </div>

    <div>
      <label for="description">설명:</label>
      <textarea name="description" id="description">
      </textarea>
    </div>

    <div>
      <label for="complete">완료 여부:</label>
      <input type="checkbox" name="complete" id="complete">
    </div>

    <div>
      <label for="exp">경험치</label>
      <input type="number" name="exp" id="exp" min="0">
    </div>

    <div>
      <label for="image">이미지</label>
      <input type="file", id="image">
    </div>

    <button type="submit" id="todoCreate">등록하기</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- axios 라이브러리 CDN 로드 (HTTP 요청을 쉽게 보내기 위한 라이브러리) -->

<script>
const api = axios.create({
  baseURL: "/", 
  // 모든 API 요청의 기본 URL

  // headers: {
  //   "Content-Type": "application/json",
  //   // 서버로 보낼 데이터 형식 지정 (JSON)
  // }
});

// CSRF 자동 주입 (Django 필수)
api.interceptors.request.use(config => {

  const csrfToken = document.cookie
    .split("; ")
    .find(row => row.startsWith("csrftoken="))
    ?.split("=")[1];
  // 브라우저 쿠키에서 csrftoken 값을 찾기

  if (csrfToken) {
    config.headers["X-CSRFToken"] = csrfToken;
    // Django가 요구하는 CSRF 토큰을 요청 헤더에 자동 추가
  }

  return config;
  // 수정된 요청 설정 반환
});


document.getElementById("todoCreate").addEventListener("click", async () => {
  // todoCreate 버튼 클릭 시 실행

  try { // 에러가 발생할 수 있는 코드를 실행하는 영역

    const formData = new FormData();
    
    formData.append("title", document.getElementById("title").value);
    formData.append("description", document.getElementById("description").value);
    formData.append("complete", document.getElementById("complete").checked);
    formData.append("exp", document.getElementById("exp").value || 0);

    const fileInput = document.getElementById("image");

    if (fileInput.files.length > 0){
      formData.append("img", fileInput.files[0]);
    }

    const res = await api.post("/todo/viewsets/view/", formData);
    console.log("성공응답", res.data);

    window.location.href = "/todo/list/";

  } catch (err) { // 에러가 발생했을 때 처리하는 영역
    console.error("서버 에러 상세:", err.response?.data || err.message);
    // 에러 발생 시 콘솔에 에러 출력
  }
});

</script>
{% endblock %}