<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
</head>
<body>
    {% for todo in todos %}
        <p>{{ todo.title}} </p>
        <p>{{ todo.description}} </p>
        <p>{{ todo.complete}} </p>
        <p>{{ todo.created_at}} </p>

        {% if todo.description %}
            <p>{{todo.description}}</p>
        {% else %}
            No description
        {% endif %}
            <p>{{todo.complete}}</p>
            <p>{{todo.created_at}}</p>
    {% endfor %}



    
</body>
</html>